


*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 900vh;
}

nav.menu-lateral{
   width: 80px;
   height: 100%;
    background-color: black;
    padding: 40px 0 40px 1%;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    
}

nav.menu-lateral:hover{
    width: 300px;

}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;

}

ul{
    height: 100%;
    list-style-type: none;
}
ul li.Item-lista{
   transition: .2s;
}

ul li.Item-lista:hover{
    background: #010b6f;
}

ul li.Item-lista a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.Item-lista a .txt-link{
    margin-left: 40px;
}

ul li.Item-lista a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

.Logo-imagem{
    position: absolute;
    top: 15%;
    left: 23%;
    height: 25%;
    transform: translate(-50%, -50%);
}
  
.txt-1{
    position: absolute;
    color: white;
    text-align: center;
    left: 10%;
    right: 10%;
    top: 40%;
}   
.txt-2{
    color: white;
    position: absolute;
    top: 48%;
    left: 10%;
    right: 10%;
    text-align: center;
}  
.txt-3{
    color: white;
    position: absolute;
    text-align: center;
    top: 58%;
    left: 10%;
    right: 10%;
} 

.well-come{
    position: absolute;
    color: white;
    top: 30%;
    left: 40%;
    
    
}





















