
*{
    
    margin: 0;
    padding: 0;
}
.body {
    font-family: 'Righteous', cursive;
}

.cabeçalho{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
 
.Escola-imagem {
    width: 25%;
}

 .Escola-div-conteudo{
    width: 35%;
 }
 .Escola-titulo{
    padding: 24px 0;
 }

 
